*.a
*.o
autom4te.cache/
.deps/
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
COPYING
depcomp
INSTALL
install-sh
install.sh
krb5-auth-dialog.spec
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
TAGS
